In [1]:
import pandas as pd

In [2]:
#load the data generated into pandas dataframe
sales_df = pd.read_csv('sales_data.csv')
product_df = pd.read_csv('product_data.csv')
user_df = pd.read_csv('user_data.csv')
delivery_df = pd.read_csv('delivery_data.csv')

## Checking the dataframes and the datatypes

### Sales Data

In [3]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    1000 non-null   int64
 1   ProductID  1000 non-null   int64
 2   UserID     1000 non-null   int64
 3   Quantity   1000 non-null   int64
 4   OrderDate  1000 non-null   object
 5   UnitPrice  1000 non-null   int64
dtypes: int64(5), object(1)
memory usage: 47.0+ KB

In [4]:
#converting the OrderDate to datetime
sales_df.OrderDate = pd.to_datetime(sales_df.OrderDate)

### User Data

In [5]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      1000 non-null   int64
 1   UserName    1000 non-null   object
 2   Email       1000 non-null   object
 3   SignupDate  1000 non-null   object
 4   LastLogin   1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [6]:
# converting signupdate and lastlogin to datetime
user_df.SignupDate = pd.to_datetime(user_df.SignupDate)
user_df.LastLogin = pd.to_datetime(user_df.LastLogin)

### Delivery Data

In [7]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          1000 non-null   int64
 1   DeliveryPartner  1000 non-null   object
 2   DeliveryDate     1000 non-null   object
 3   DeliveryStatus   1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [8]:
#converting delivery date to datetime
delivery_df.DeliveryDate = pd.to_datetime(delivery_df.DeliveryDate)

### Combining the DataFrames based on the common features

In [9]:
merged_df = (sales_df.merge(product_df, on='ProductID').merge(user_df, on='UserID').merge(delivery_df, on='OrderID'))

In [10]:
merged_df.head()

,OrderID,ProductID,UserID,Quantity,OrderDate,UnitPrice,ProductName,Category,ListPrice,UserName,Email,SignupDate,LastLogin,DeliveryPartner,DeliveryDate,DeliveryStatus
0,9440,5490,3044,6,2022-06-11,33,must but,Books,107,vrodriguez,vchapman@example.org,2021-08-25,2023-03-28,UPS,2023-06-17,Delivered
1,4383,4693,9084,8,2022-12-07,50,attack policy,Clothing,261,sarah79,ycarter@example.com,2022-02-07,2023-05-11,DHL,2023-06-12,In Transit
2,7987,2689,6801,2,2022-12-16,82,history find,Clothing,220,weberalexis,ashleygentry@example.org,2021-08-21,2022-08-07,UPS,2023-06-15,Delivered
3,4262,4169,2898,8,2023-01-14,33,real worker,Electronics,258,mary04,dbanks@example.com,2021-07-19,2022-09-21,FedEx,2023-06-14,Delivered
4,3779,1026,6444,2,2023-05-12,84,tax page,Clothing,153,susanstewart,ashley85@example.com,2021-11-20,2022-11-16,USPS,2023-06-12,Delivered

In [11]:
# Calculate the revenue by multiplying quantity and unit price
merged_df['Revenue'] = merged_df['Quantity'] * merged_df['UnitPrice']

In [12]:
merged_df.head()

,OrderID,ProductID,UserID,Quantity,OrderDate,UnitPrice,ProductName,Category,ListPrice,UserName,Email,SignupDate,LastLogin,DeliveryPartner,DeliveryDate,DeliveryStatus,Revenue
0,9440,5490,3044,6,2022-06-11,33,must but,Books,107,vrodriguez,vchapman@example.org,2021-08-25,2023-03-28,UPS,2023-06-17,Delivered,198
1,4383,4693,9084,8,2022-12-07,50,attack policy,Clothing,261,sarah79,ycarter@example.com,2022-02-07,2023-05-11,DHL,2023-06-12,In Transit,400
2,7987,2689,6801,2,2022-12-16,82,history find,Clothing,220,weberalexis,ashleygentry@example.org,2021-08-21,2022-08-07,UPS,2023-06-15,Delivered,164
3,4262,4169,2898,8,2023-01-14,33,real worker,Electronics,258,mary04,dbanks@example.com,2021-07-19,2022-09-21,FedEx,2023-06-14,Delivered,264
4,3779,1026,6444,2,2023-05-12,84,tax page,Clothing,153,susanstewart,ashley85@example.com,2021-11-20,2022-11-16,USPS,2023-06-12,Delivered,168

# Creating the Data Cube using Pivot Table

In [13]:
data_cube = pd.pivot_table(merged_df,values=['Quantity', 'Revenue'],index=['ProductID', 'ProductName', 'Category'], \
                           columns=['UserID', 'UserName', 'Email'],aggfunc={'Quantity': 'sum', 'Revenue': 'sum'}, \
                           fill_value=0)

In [14]:
data_cube

                                                         Quantity  \
UserID                                                       2327
UserName                                                    rgray
Email                                        zhoffman@example.org
ProductID ProductName        Category
1026      tax page           Clothing                           0
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        5
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                              0
5924      whole avoid        Electronics                        0
9428      or then            Electronics                        0

                                                                 \
UserID                                                     2347
UserName                                           bowmanrobert
Email                                        evan57@example.com
ProductID ProductName        Category
1026      tax page           Clothing                         0
1246      house risk         Beauty                           0
1258      win cup            Beauty                           0
2689      history find       Clothing                         0
2989      teach consumer     Electronics                      0
3511      candidate recently Home Appliances                  0
3750      thousand cover     Beauty                           6
4168      clear spend        Beauty                           0
4169      real worker        Electronics                      0
4693      attack policy      Clothing                         0
5490      must but           Books                            0
5924      whole avoid        Electronics                      0
9428      or then            Electronics                      0

                                                                  \
UserID                                                      2402
UserName                                                ajohnson
Email                                        erica30@example.com
ProductID ProductName        Category
1026      tax page           Clothing                          0
1246      house risk         Beauty                            0
1258      win cup            Beauty                            5
2689      history find       Clothing                          0
2989      teach consumer     Electronics                       0
3511      candidate recently Home Appliances                   0
3750      thousand cover     Beauty                            0
4168      clear spend        Beauty                            0
4169      real worker        Electronics                       0
4693      attack policy      Clothing                          0
5490      must but           Books                             0
5924      whole avoid        Electronics                       0
9428      or then            Electronics                       0

                                                                 \
UserID                                                     2898
UserName                                                 mary04
Email                                        dbanks@example.com
ProductID ProductName        Category
1026      tax page           Clothing                         0
1246      house risk         Beauty                           0
1258      win cup            Beauty                           0
2689      history find       Clothing                         0
2989      teach consumer     Electronics                      0
3511      candidate recently Home Appliances                  0
3750      thousand cover     Beauty                           0
4168      clear spend        Beauty                           0
4169      real worker        Electronics                      8
4693      attack policy      Clothing                         0
5490      must but           Books                            0
5924      whole avoid        Electronics                      0
9428      or then            Electronics                      0

                                                                   \
UserID                                                       3044
UserName                                               vrodriguez
Email                                        vchapman@example.org
ProductID ProductName        Category
1026      tax page           Clothing                           0
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        0
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                              6
5924      whole avoid        Electronics                        0
9428      or then            Electronics                        0

                                                                  \
UserID                                                      4041
UserName                                           weavernichole
Email                                        kelly54@example.net
ProductID ProductName        Category
1026      tax page           Clothing                          0
1246      house risk         Beauty                            0
1258      win cup            Beauty                            0
2689      history find       Clothing                          0
2989      teach consumer     Electronics                       0
3511      candidate recently Home Appliances                  14
3750      thousand cover     Beauty                            0
4168      clear spend        Beauty                            0
4169      real worker        Electronics                       0
4693      attack policy      Clothing                          0
5490      must but           Books                             0
5924      whole avoid        Electronics                       0
9428      or then            Electronics                       0

                                                                      \
UserID                                                          5937
UserName                                                     cwalker
Email                                        aprilkeller@example.net
ProductID ProductName        Category
1026      tax page           Clothing                              0
1246      house risk         Beauty                               24
1258      win cup            Beauty                                0
2689      history find       Clothing                              0
2989      teach consumer     Electronics                           0
3511      candidate recently Home Appliances                       0
3750      thousand cover     Beauty                                0
4168      clear spend        Beauty                                0
4169      real worker        Electronics                           0
4693      attack policy      Clothing                              0
5490      must but           Books                                 0
5924      whole avoid        Electronics                           0
9428      or then            Electronics                           0

                                                                   \
UserID                                                       6444
UserName                                             susanstewart
Email                                        ashley85@example.com
ProductID ProductName        Category
1026      tax page           Clothing                           2
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        0
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                              0
5924      whole avoid        Electronics                        0
9428      or then            Electronics                        0

                                                                       \
UserID                                                           6801
UserName                                                  weberalexis
Email                                        ashleygentry@example.org
ProductID ProductName        Category
1026      tax page           Clothing                               0
1246      house risk         Beauty                                 0
1258      win cup            Beauty                                 0
2689      history find       Clothing                               2
2989      teach consumer     Electronics                            0
3511      candidate recently Home Appliances                        0
3750      thousand cover     Beauty                                 0
4168      clear spend        Beauty                                 0
4169      real worker        Electronics                            0
4693      attack policy      Clothing                               0
5490      must but           Books                                  0
5924      whole avoid        Electronics                            0
9428      or then            Electronics                            0

                                                                   ...  \
UserID                                                       6906  ...
UserName                                                  scott43  ...
Email                                        yjohnson@example.net  ...
ProductID ProductName        Category                              ...
1026      tax page           Clothing                           0  ...
1246      house risk         Beauty                             0  ...
1258      win cup            Beauty                             0  ...
2689      history find       Clothing                           0  ...
2989      teach consumer     Electronics                        0  ...
3511      candidate recently Home Appliances                    0  ...
3750      thousand cover     Beauty                             0  ...
4168      clear spend        Beauty                             0  ...
4169      real worker        Electronics                        0  ...
4693      attack policy      Clothing                           0  ...
5490      must but           Books                              0  ...
5924      whole avoid        Electronics                        6  ...
9428      or then            Electronics                        0  ...

                                                        Revenue  \
UserID                                                     2898
UserName                                                 mary04
Email                                        dbanks@example.com
ProductID ProductName        Category
1026      tax page           Clothing                         0
1246      house risk         Beauty                           0
1258      win cup            Beauty                           0
2689      history find       Clothing                         0
2989      teach consumer     Electronics                      0
3511      candidate recently Home Appliances                  0
3750      thousand cover     Beauty                           0
4168      clear spend        Beauty                           0
4169      real worker        Electronics                    264
4693      attack policy      Clothing                         0
5490      must but           Books                            0
5924      whole avoid        Electronics                      0
9428      or then            Electronics                      0

                                                                   \
UserID                                                       3044
UserName                                               vrodriguez
Email                                        vchapman@example.org
ProductID ProductName        Category
1026      tax page           Clothing                           0
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        0
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                            198
5924      whole avoid        Electronics                        0
9428      or then            Electronics                        0

                                                                  \
UserID                                                      4041
UserName                                           weavernichole
Email                                        kelly54@example.net
ProductID ProductName        Category
1026      tax page           Clothing                          0
1246      house risk         Beauty                            0
1258      win cup            Beauty                            0
2689      history find       Clothing                          0
2989      teach consumer     Electronics                       0
3511      candidate recently Home Appliances                 574
3750      thousand cover     Beauty                            0
4168      clear spend        Beauty                            0
4169      real worker        Electronics                       0
4693      attack policy      Clothing                          0
5490      must but           Books                             0
5924      whole avoid        Electronics                       0
9428      or then            Electronics                       0

                                                                      \
UserID                                                          5937
UserName                                                     cwalker
Email                                        aprilkeller@example.net
ProductID ProductName        Category
1026      tax page           Clothing                              0
1246      house risk         Beauty                             2328
1258      win cup            Beauty                                0
2689      history find       Clothing                              0
2989      teach consumer     Electronics                           0
3511      candidate recently Home Appliances                       0
3750      thousand cover     Beauty                                0
4168      clear spend        Beauty                                0
4169      real worker        Electronics                           0
4693      attack policy      Clothing                              0
5490      must but           Books                                 0
5924      whole avoid        Electronics                           0
9428      or then            Electronics                           0

                                                                   \
UserID                                                       6444
UserName                                             susanstewart
Email                                        ashley85@example.com
ProductID ProductName        Category
1026      tax page           Clothing                         168
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        0
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                              0
5924      whole avoid        Electronics                        0
9428      or then            Electronics                        0

                                                                       \
UserID                                                           6801
UserName                                                  weberalexis
Email                                        ashleygentry@example.org
ProductID ProductName        Category
1026      tax page           Clothing                               0
1246      house risk         Beauty                                 0
1258      win cup            Beauty                                 0
2689      history find       Clothing                             164
2989      teach consumer     Electronics                            0
3511      candidate recently Home Appliances                        0
3750      thousand cover     Beauty                                 0
4168      clear spend        Beauty                                 0
4169      real worker        Electronics                            0
4693      attack policy      Clothing                               0
5490      must but           Books                                  0
5924      whole avoid        Electronics                            0
9428      or then            Electronics                            0

                                                                   \
UserID                                                       6906
UserName                                                  scott43
Email                                        yjohnson@example.net
ProductID ProductName        Category
1026      tax page           Clothing                           0
1246      house risk         Beauty                             0
1258      win cup            Beauty                             0
2689      history find       Clothing                           0
2989      teach consumer     Electronics                        0
3511      candidate recently Home Appliances                    0
3750      thousand cover     Beauty                             0
4168      clear spend        Beauty                             0
4169      real worker        Electronics                        0
4693      attack policy      Clothing                           0
5490      must but           Books                              0
5924      whole avoid        Electronics                       66
9428      or then            Electronics                        0


In [15]:
total_quantity = data_cube['Quantity'].sum().sum()
total_revenue = data_cube['Revenue'].sum().sum()
average_quantity = data_cube['Quantity'].mean().mean()
average_revenue = data_cube['Revenue'].mean().mean()

In [16]:
print(f'Total Quantity: {total_quantity}')
print(f'Total Revenue: {total_revenue}')
print(f'Average Quantity: {average_quantity}')
print(f'Average Revenue: {average_revenue}')

Total Quantity: 97
Total Revenue: 5524
Average Quantity: 0.5739644970414203
Average Revenue: 32.68639053254438